* {
    font-family: Verdana, Arial, sans-serif;
    background-color: 220, 220, 221;
}

h1,
h3,
p,
a,
img {
    margin-left: 25px;
}

h3 {
    font-style: italic;
}

li,
p {
    color: #1985A1;
}

h1 {
    color: #4C5C68;
}

img {
    width: 500px;
    height: auto;
    border-radius: 10%;
}